{
  "extend": ["stylelint-config-prettier"],
  "syntax": "less",
  "rules": {
    "color-no-invalid-hex": true,
    "color-named": "never",
    "color-hex-length": "long",
    "font-family-no-duplicate-names": true,
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "numeric",
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-url-scheme-disallowed-list": ["ftp", "/^http/", "/^data/"],
    "function-name-case": "lower",
    "function-url-quotes": "always",
    "function-whitespace-after": "always",
    "number-max-precision": 4,
    "time-min-milliseconds": 100,
    "string-no-newline": true,
    "length-zero-no-unit": true,
    "unit-no-unknown": true,
    "unit-disallowed-list": ["pt", "cm", "mm", "in", "pc"],
    "shorthand-property-no-redundant-values": true,
    "value-no-vendor-prefix": true,
    "value-keyword-case": "lower",
    "custom-property-empty-line-before": "never",
    "property-disallowed-list": ["background", "columns", "font"],
    "property-no-vendor-prefix": true,
    "keyframe-declaration-no-important": true,
    "declaration-property-unit-allowed-list": {
      "font-size": ["rem", "px"],
      "/^animation/": ["ms"]
    },
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-empty-line-before": "never",
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-single-line-max-declarations": 1,
    "block-no-empty": true,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "selector-max-attribute": 1,
    "selector-max-id": 0,
    "selector-max-universal": 1,
    "selector-no-vendor-prefix": true,
    "selector-attribute-brackets-space-inside": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-quotes": "always",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "selector-type-case": "lower",
    "selector-list-comma-space-after": null,
    "at-rule-name-space-after": "always",
    "at-rule-semicolon-space-before": "never",
    "comment-no-empty": true,
    "comment-whitespace-inside": "always",
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "no-invalid-double-slash-comments": true,
    "max-nesting-depth": 6,
    "no-unknown-animations": true,
    "rule-empty-line-before": "always"
  }
}
